/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media screen and (max-width: 1280px) {
    .logo-nav {
        -webkit-box-flex: 0;
        flex: none;
    }
    .nav-container ul li:nth-child(2) {
        padding-top: 1.5em;
    }
    .nav-container ul li {
        padding-bottom: 1.5em;
        margin: 0 !important;
    }
    .nav-container {
        display: grid;
        grid-template-rows: 1fr;
        width: 100%;
    }
    .nav-list {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        margin: 0;
    }
    .nav-list-container {
        border-top: 1px solid #fcfcfc;
        margin-top: 2em;
    }
    .top-menu-toggle {
        padding-top: .75em;
        width: 8rem;
        height: 8rem;
    }
}

/* 
	##Device = Laptops, Desktops
	##Screen = B/w 1025px to 1280px
  */

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    /*Top Navigation*/
    .container-nav {
        width: 86% !important;
    }
    .top-menu-toggle {
        right: -2.5rem;
    }
    .open-top-nav .top-menu-bar:nth-child(1) {
        -webkit-transform: translateY(10px) rotate(45deg);
        transform: translateY(10px) rotate(45deg);
    }
    .open-top-nav .top-menu-bar:nth-child(3) {
        -webkit-transform: translateY(-12px) rotate(-45deg);
        transform: translateY(-12px) rotate(-45deg);
    }
    /*Mobile Navigation*/
    .mobile-toggle {
        display: block !important;
        right: 1.5rem;
        width: 4.5rem;
        top: 1.8rem;
        height: 2.5rem;
    }
    .menu-bar {
        margin: .9em 0;
    }
    .open-nav .menu-bar:nth-child(1) {
        -webkit-transform: translateY(11px) rotate(45deg);
        transform: translateY(11px) rotate(45deg);
    }
    .open-nav .menu-bar:nth-child(3) {
        -webkit-transform: translateY(-11px) rotate(-45deg);
        transform: translateY(-11px) rotate(-45deg);
    }
    .hidden-logo-full-width {
        display: block;
    }
    .hidden-logo-small-width {
        display: none;
    }
    /* Services Section
********************************************************************* */
    .service-grid-container-2 {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5em;
    }
    .tools-knowledge-wrapper {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
    }
    .tools-wrapper {
        margin-right: 4em;
    }
    .tools-knowledge-heading {
        font-size: 2rem !important;
    }
    .tools-knowledge-ul li {
        font-size: 1.5rem;
    }
    /* Work Section
********************************************************************* */
    .work-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    /* Experience Section
********************************************************************* */
}

/* 
	##Device = Tablets, Ipads 
	##Screen = B/w 768px to 1024px
  */

@media screen and (min-width: 767px) and (max-width: 1024px) and (orientation: portrait) {
    /* Global Styles
**************************/
    /*Typography*/
    p {
        font-size: 1.8rem;
        margin-bottom: 2.5rem;
    }
    /*Links*/
    /*Lists*/
    /* Grid*/
    .container {
        width: 85% !important;
        padding: 0;
    }
    .container-nav {
        width: 85% !important;
        padding: 0;
    }
    /* Header Section
**********************************************************************/
    /*Title Section*/
    .logo-img {
        width: 150px;
        height: 150px;
    }
    .title h1 {
        font-size: 6rem;
    }
    .title h2 {
        font-size: 2rem;
    }
    /* Navigation
**************************/
    /*Top Navigation*/
    .hidden-logo-full-width {
        display: block;
    }
    .hidden-logo-small-width {
        display: none;
    }
    .top-menu-toggle:hover {
        background-color: unset;
        border-radius: unset;
    }
    .top-menu-toggle.open-top-nav:hover {
        background-color: unset;
        border-radius: unset;
    }
    .top-menu-toggle {
        right: -2.1em;
        height: 2.5rem;
        width: 4rem !important;
    }
    .top-menu-toggle:hover .pix:nth-of-type(1) {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .top-menu-toggle:hover .pix:nth-of-type(3) {
        -webkit-transform: translate(32px, 0);
        transform: translate(32px, 0);
    }
    .top-menu-toggle:hover .pix:nth-of-type(7) {
        -webkit-transform: translate(0, 32px);
        transform: translate(0, 32px);
    }
    .top-menu-toggle:hover .pix:nth-of-type(9) {
        -webkit-transform: translate(32px, 32px);
        transform: translate(32px, 32px);
    }
    .top-menu-toggle.active:hover .pix:nth-of-type(1) {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .top-menu-toggle.active:hover .pix:nth-of-type(2) {
        -webkit-transform: translate(8px, 8px);
        transform: translate(8px, 8px);
    }
    .top-menu-toggle.active:hover .pix:nth-of-type(3) {
        -webkit-transform: translate(32px, 0px);
        transform: translate(32px, 0px);
    }
    .top-menu-toggle.active:hover .pix:nth-of-type(4) {
        -webkit-transform: translate(8px, 24px);
        transform: translate(8px, 24px);
    }
    .top-menu-toggle.active:hover .pix:nth-of-type(6) {
        -webkit-transform: translate(24px, 8px);
        transform: translate(24px, 8px);
    }
    .top-menu-toggle.active:hover .pix:nth-of-type(7) {
        -webkit-transform: translate(0px, 32px);
        transform: translate(0px, 32px);
    }
    .top-menu-toggle.active:hover .pix:nth-of-type(8) {
        -webkit-transform: translate(24px, 24px);
        transform: translate(24px, 24px);
    }
    .top-menu-toggle.active:hover .pix:nth-of-type(9) {
        -webkit-transform: translate(32px, 32px);
        transform: translate(32px, 32px);
    }
    .top-nav-list {
        list-style: none;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal;
        flex-direction: column !important;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }
    .top-nav-list li {
        margin: 2em 0;
    }
    .top-nav-link {
        font-size: 1.8rem;
    }
    .open-top-nav .top-menu-bar:nth-child(1) {
        -webkit-transform: translateY(10px) rotate(45deg);
        transform: translateY(10px) rotate(45deg);
    }
    .open-top-nav .top-menu-bar:nth-child(3) {
        -webkit-transform: translateY(-12px) rotate(-45deg);
        transform: translateY(-12px) rotate(-45deg);
    }
    .sticky.work {
        height: 33% !important;
    }
    /*Mobile Navigation*/
    .mobile-toggle {
        display: block !important;
        right: -.5em;
        width: 4.5rem;
        top: 1.8rem;
        height: 2.5rem;
    }
    .menu-bar {
        margin: .9em 0;
    }
    .open-nav .menu-bar:nth-child(1) {
        -webkit-transform: translateY(11px) rotate(45deg);
        transform: translateY(11px) rotate(45deg);
    }
    .open-nav .menu-bar:nth-child(3) {
        -webkit-transform: translateY(-11px) rotate(-45deg);
        transform: translateY(-11px) rotate(-45deg);
    }
    /* Global Section Styles
********************************************************************* */
    .section-heading {
        font-size: 5rem;
    }
    .border-heading {
        width: 75px;
    }
    #back-to-top-btn {
        right: 1rem;
        font-size: 1.5rem;
        width: 4rem;
        height: 4rem;
    }
    #back-to-top-btn span {
        position: absolute;
        top: .6rem;
        left: 1.2rem;
        font-size: 2.5rem;
    }
    /* About Section
********************************************************************* */
    .about-grid-container {
        grid-template-columns: 1fr;
        grid-gap: 5em;
        grid-template-areas: 'profile-img' 'about-text';
    }
    .profile-img {
        width: 250px;
        height: 250px;
        grid-area: profile-img;
    }
    .profile-img-item {
        margin: auto;
    }
    .about-text-item {
        grid-area: about-text;
    }
    .icon-text span {
        font-size: 1.5rem;
    }
    /* Services Section
********************************************************************* */
    .service-grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
    }
    .skill-icon-container {
        width: 10rem;
        height: 10rem;
    }
    .skill-icon-container i {
        font-size: 3rem;
    }
    .service-grid-container-2 {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2em;
    }
    .tools-knowledge-wrapper {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: start;
        align-items: flex-start;
        -webkit-box-pack: start;
        justify-content: space-evenly;
    }
    .tools-knowledge-heading {
        font-size: 2rem !important;
    }
    .tools-knowledge-ul li {
        font-size: 1.5rem;
    }
    /* Work Section
********************************************************************* */
    .work-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .work-ul {
        padding-left: 2.5em !important;
    }
    .icon-text span {
        font-size: 1.8rem;
    }
    /* Experience Section
********************************************************************* */
    .timeline h3 {
        font-size: 2rem !important;
    }
    .timeline h4 {
        font-size: 1.5rem !important;
    }
    .timeline-info p {
        margin-bottom: 0;
        font-size: 1.2rem;
        text-align: left;
    }
    .timeline .timeline-ul .timeline-li .timeline-li-container {
        width: 280px;
    }
    .timeline .timeline-ul .timeline-li:nth-child(even) .timeline-li-container {
        left: -319px;
        /*280+45-6*/
    }
    .timeline-date {
        font-size: 1rem;
    }
    .timeline-info p {
        font-size: 1.2rem;
    }
    .experience-list {
        font-size: 1.2rem;
        padding-left: 2.5em !important;
    }
    .experience-list li {
        font-size: 1.2rem;
    }
    /*Lightbox Styles*/
    .lb-data .lb-caption {
        font-size: 1.5rem;
    }
    .lb-data .lb-number {
        font-size: 1.2rem;
    }
    /* Contact Section
********************************************************************* */
    .contact-grid-container-1 {
        grid-template-columns: 1fr;
        grid-row-gap: 1.5em;
        margin-bottom: 1.5em;
    }
    .contact-label {
        font-size: 1.5rem;
    }
    .input-group {
        margin-bottom: 0;
    }
    .contact-grid-container-2 {
        margin-bottom: 1.5em;
    }
    input[type="email"], input[type="text"], button[type="submit"], textarea, select {
        font-size: 1.5rem;
    }
    textarea {
        min-height: 200px;
        margin-bottom: 0;
    }
    .icon-paper-plane {
        font-size: 1.2rem;
        top: 1.65rem;
        left: 1.5rem;
    }
    .input-group-icon .input-icon i {
        font-size: 1.5em;
        padding-top: .6em;
    }
    .input-group-icon input {
        padding-left: 4em;
    }
    /* Footer 
********************************************************************* */
    .footer-container {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: center;
    }
    .social-media-icons {
        -webkit-box-ordinal-group: 3;
        order: 2;
    }
    .social-media-icons li {
        margin: .5em;
        list-style: none;
        margin-bottom: 0;
    }
    .social-media-icons a {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }
    .copyright {
        -webkit-box-ordinal-group: 3;
        order: 2;
        margin-top: .75em;
    }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media screen and (min-width: 767px) and (max-width: 1024px) and (orientation: landscape) {
    /* Global Styles
**************************/
    /*Typography*/
    p {
        font-size: 1.8rem;
        margin-bottom: 2.5rem;
    }
    /*Links*/
    /*Lists*/
    /* Grid*/
    .container {
        width: 85% !important;
        padding: 0;
    }
    .container-nav {
        width: 85% !important;
        padding: 0;
    }
    /* Header Section
**********************************************************************/
    /*Title Section*/
    .logo-img {
        width: 150px;
        height: 150px;
    }
    .title h1 {
        font-size: 6rem;
    }
    .title h2 {
        font-size: 2rem;
    }
    /* Navigation
**************************/
    /*Top Navigation*/
    .hidden-logo-full-width {
        display: block;
    }
    .hidden-logo-small-width {
        display: none;
    }
    .top-menu-toggle:hover {
        background-color: unset;
        border-radius: unset;
    }
    .top-menu-toggle.open-top-nav:hover {
        background-color: unset;
        border-radius: unset;
    }
    .top-menu-toggle {
        right: -2.1em;
        height: 2.5rem;
        width: 4rem !important;
    }
    .top-menu-toggle:hover .pix:nth-of-type(1) {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .top-menu-toggle:hover .pix:nth-of-type(3) {
        -webkit-transform: translate(32px, 0);
        transform: translate(32px, 0);
    }
    .top-menu-toggle:hover .pix:nth-of-type(7) {
        -webkit-transform: translate(0, 32px);
        transform: translate(0, 32px);
    }
    .top-menu-toggle:hover .pix:nth-of-type(9) {
        -webkit-transform: translate(32px, 32px);
        transform: translate(32px, 32px);
    }
    .top-menu-toggle.active:hover .pix:nth-of-type(1) {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .top-menu-toggle.active:hover .pix:nth-of-type(2) {
        -webkit-transform: translate(8px, 8px);
        transform: translate(8px, 8px);
    }
    .top-menu-toggle.active:hover .pix:nth-of-type(3) {
        -webkit-transform: translate(32px, 0px);
        transform: translate(32px, 0px);
    }
    .top-menu-toggle.active:hover .pix:nth-of-type(4) {
        -webkit-transform: translate(8px, 24px);
        transform: translate(8px, 24px);
    }
    .top-menu-toggle.active:hover .pix:nth-of-type(6) {
        -webkit-transform: translate(24px, 8px);
        transform: translate(24px, 8px);
    }
    .top-menu-toggle.active:hover .pix:nth-of-type(7) {
        -webkit-transform: translate(0px, 32px);
        transform: translate(0px, 32px);
    }
    .top-menu-toggle.active:hover .pix:nth-of-type(8) {
        -webkit-transform: translate(24px, 24px);
        transform: translate(24px, 24px);
    }
    .top-menu-toggle.active:hover .pix:nth-of-type(9) {
        -webkit-transform: translate(32px, 32px);
        transform: translate(32px, 32px);
    }
    .top-nav-list {
        list-style: none;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: normal;
        flex-direction: row !important;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }
    .top-nav-list li {
        margin: 0 1.5em;
    }
    .top-nav-link {
        font-size: 1.8rem;
    }
    .sticky {
        height: 22%;
    }
    .work.sticky {
        height: 22% !important;
    }
    .nav-list.resume {
        -webkit-box-pack: center;
        justify-content: center;
    }
    .nav-link.resume {
        padding: 0 2em;
    }
    .nav-container ul li {
        padding: 1.5em 0;
        margin: 0 !important;
    }
    .open-top-nav .top-menu-bar:nth-child(1) {
        -webkit-transform: translateY(10px) rotate(45deg);
        transform: translateY(10px) rotate(45deg);
    }
    .open-top-nav .top-menu-bar:nth-child(3) {
        -webkit-transform: translateY(-12px) rotate(-45deg);
        transform: translateY(-12px) rotate(-45deg);
    }
    /*Mobile Navigation*/
    .mobile-toggle {
        display: block !important;
        right: -.5em;
        width: 4.5rem;
        top: 1.8rem;
        height: 2.5rem;
    }
    .menu-bar {
        margin: .9em 0;
    }
    .nav-list {
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: normal !important;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: space-between;
        margin: 0;
    }
    .open-nav .menu-bar:nth-child(1) {
        -webkit-transform: translateY(11px) rotate(45deg);
        transform: translateY(11px) rotate(45deg);
    }
    .open-nav .menu-bar:nth-child(3) {
        -webkit-transform: translateY(-11px) rotate(-45deg);
        transform: translateY(-11px) rotate(-45deg);
    }
    /* Global Section Styles
********************************************************************* */
    .section-heading {
        font-size: 5rem;
    }
    .border-heading {
        width: 75px;
    }
    #back-to-top-btn {
        right: 1rem;
        font-size: 1.5rem;
        width: 4rem;
        height: 4rem;
    }
    #back-to-top-btn span {
        position: absolute;
        top: .6rem;
        left: 1.2rem;
        font-size: 2.5rem;
    }
    /* About Section
********************************************************************* */
    .about-grid-container {
        grid-template-columns: 1fr;
        grid-gap: 5em;
        grid-template-areas: 'profile-img' 'about-text';
    }
    .profile-img {
        width: 250px;
        height: 250px;
        grid-area: profile-img;
    }
    .profile-img-item {
        margin: auto;
    }
    .about-text-item {
        grid-area: about-text;
    }
    .icon-text span {
        font-size: 1.5rem;
    }
    /* Services Section
********************************************************************* */
    .service-grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
    }
    .skill-icon-container {
        width: 10rem;
        height: 10rem;
    }
    .skill-icon-container i {
        font-size: 3rem;
    }
    .service-grid-container-2 {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 5em;
    }
    .tools-knowledge-wrapper {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: start;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
    }
    .tools-wrapper {
        margin-right: 4em;
    }
    .tools-knowledge-heading {
        font-size: 2rem !important;
    }
    .tools-knowledge-ul li {
        font-size: 1.5rem;
    }
    /* Work Section
********************************************************************* */
    .work-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .work-ul {
        padding-left: 2.5em !important;
    }
    .icon-text span {
        font-size: 1.8rem;
    }
    /*Lightbox Styles*/
    .lb-data .lb-caption {
        font-size: 1.5rem;
    }
    .lb-data .lb-number {
        font-size: 1.2rem;
    }
    /* Experience Section
********************************************************************* */
    .timeline h3 {
        font-size: 2rem !important;
    }
    .timeline h4 {
        font-size: 1.5rem !important;
    }
    .timeline-info p {
        margin-bottom: .5em;
        font-size: 1.2rem;
        text-align: left;
    }
    .timeline .timeline-ul .timeline-li .timeline-li-container {
        width: 392px;
    }
    .experience-list {
        font-size: 1.2rem;
        padding-left: 2.5em !important;
    }
    .experience-list li {
        font-size: 1.2rem;
    }
    /* Contact Section
********************************************************************* */
    .contact-grid-container-1 {
        grid-template-columns: 1fr;
        grid-row-gap: 1.5em;
        margin-bottom: 1.5em;
    }
    .contact-label {
        font-size: 1.5rem;
    }
    .input-group {
        margin-bottom: 0;
    }
    .contact-grid-container-2 {
        margin-bottom: 1.5em;
    }
    input[type="email"], input[type="text"], button[type="submit"], textarea, select {
        font-size: 1.5rem;
    }
    textarea {
        min-height: 200px;
        margin-bottom: 0;
    }
    .icon-paper-plane {
        font-size: 1.2rem;
        top: 1.65rem;
        left: 1.5rem;
    }
    .input-group-icon .input-icon i {
        font-size: 1.5em;
        padding-top: .6em;
    }
    .input-group-icon input {
        padding-left: 4em;
    }
    /* Footer 
********************************************************************* */
    .footer-container {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: center;
    }
    .social-media-icons {
        -webkit-box-ordinal-group: 3;
        order: 2;
    }
    .social-media-icons li {
        margin: .5em;
        list-style: none;
        margin-bottom: 0;
    }
    .social-media-icons a {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }
    .copyright {
        -webkit-box-ordinal-group: 3;
        order: 2;
        margin-top: .75em;
    }
}

  @media screen and (max-width: 650px) {

  }

/* 
	##Device = Low Resolution Tablets, Mobiles (Landscape)
	##Screen = B/w 481px to 767px
  */

@media screen and (min-width: 481px) and (max-width: 767px) {
    /* Global Styles
**************************/
    /*Typography*/
    p {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .fonts-used-paragraph {
        margin-top: 1.5rem;
    }
    /* Grid*/
    .container {
        width: 85% !important;
        padding: 0;
    }
    .container-nav {
        width: 85% !important;
        padding: 0;
    }
    /* Header Section
**********************************************************************/
    /*Title Section*/
    .logo-img {
        width: 100px;
        height: 100px;
    }
    .title h1 {
        font-size: 4rem;
    }
    .title h2 {
        font-size: 1.5rem;
    }
    /* Navigation
**************************/
    /*Top Navigation*/
    .hidden-logo-full-width {
        display: block;
    }
    .hidden-logo-small-width {
        display: none;
    }
    .top-menu-toggle:hover {
        background-color: unset;
        border-radius: unset;
    }
    .top-menu-toggle.open-top-nav:hover {
        background-color: unset;
        border-radius: unset;
    }
    .top-menu-toggle {
        right: -2.2em;
        height: 2rem;
        width: 3.5rem;
        top: 1em;
    }
    .top-menu-toggle:hover .pix:nth-of-type(1) {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .top-menu-toggle:hover .pix:nth-of-type(3) {
        -webkit-transform: translate(32px, 0);
        transform: translate(32px, 0);
    }
    .top-menu-toggle:hover .pix:nth-of-type(7) {
        -webkit-transform: translate(0, 32px);
        transform: translate(0, 32px);
    }
    .top-menu-toggle:hover .pix:nth-of-type(9) {
        -webkit-transform: translate(32px, 32px);
        transform: translate(32px, 32px);
    }
    .top-menu-toggle.active:hover .pix:nth-of-type(1) {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .top-menu-toggle.active:hover .pix:nth-of-type(2) {
        -webkit-transform: translate(8px, 8px);
        transform: translate(8px, 8px);
    }
    .top-menu-toggle.active:hover .pix:nth-of-type(3) {
        -webkit-transform: translate(32px, 0px);
        transform: translate(32px, 0px);
    }
    .top-menu-toggle.active:hover .pix:nth-of-type(4) {
        -webkit-transform: translate(8px, 24px);
        transform: translate(8px, 24px);
    }
    .top-menu-toggle.active:hover .pix:nth-of-type(6) {
        -webkit-transform: translate(24px, 8px);
        transform: translate(24px, 8px);
    }
    .top-menu-toggle.active:hover .pix:nth-of-type(7) {
        -webkit-transform: translate(0px, 32px);
        transform: translate(0px, 32px);
    }
    .top-menu-toggle.active:hover .pix:nth-of-type(8) {
        -webkit-transform: translate(24px, 24px);
        transform: translate(24px, 24px);
    }
    .top-menu-toggle.active:hover .pix:nth-of-type(9) {
        -webkit-transform: translate(32px, 32px);
        transform: translate(32px, 32px);
    }
    .top-menu-bar {
        width: 35px;
        height: 2px;
        margin: .7rem auto;
    }
    .top-nav-list {
        list-style: none;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }
    .top-nav-list li {
        margin: 1.5em 0;
    }
    .top-nav-link {
        font-size: 1.5rem;
    }
    .open-top-nav .top-menu-bar:nth-child(1) {
        -webkit-transform: translateY(10px) rotate(45deg);
        transform: translateY(10px) rotate(45deg);
    }
    .open-top-nav .top-menu-bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
    /*Mobile Navigation*/
    .mobile-toggle {
        display: block !important;
        right: -.5em;
        width: 4.5rem;
        top: 2.2rem;
        height: 2rem;
    }
    .menu-bar {
        position: relative;
        top: -.6rem;
        left: 0;
        width: 35px;
        height: 2px;
        margin: .7rem auto;
    }
    .nav-list-container {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        width: 100%;
    }
    .open-nav .menu-bar:nth-child(1) {
        -webkit-transform: translateY(10px) rotate(45deg);
        transform: translateY(10px) rotate(45deg);
    }
    .open-nav .menu-bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-container ul li {
        padding: 1.75em 0 !important;
        font-size: 1rem;
    }
    /* Global Section Styles
********************************************************************* */
    .section-heading {
        font-size: 4rem;
    }
    .border-heading {
        width: 65px;
    }
    #back-to-top-btn {
        right: 1rem;
        font-size: 1.5rem;
        width: 4rem;
        height: 4rem;
    }
    #back-to-top-btn span {
        position: absolute;
        top: .6rem;
        left: 1.2rem;
        font-size: 2.5rem;
    }
    /* About Section
********************************************************************* */
    .about-grid-container {
        grid-template-columns: 1fr;
        grid-gap: 2.5em;
        grid-template-areas: 'profile-img' 'about-text';
    }
    .profile-img {
        width: 200px;
        height: 200px;
        grid-area: profile-img;
    }
    .profile-img-item {
        margin: auto;
    }
    .about-text-item {
        grid-area: about-text;
    }
    .icon-btns {
        margin-top: 1.5em;
    }
    .icon-text span {
        font-size: 1.5rem;
    }
    .icon-btn-container.resume:hover {
        width: 120px;
    }
    .icon-btn-container.contact:hover {
        width: 145px;
    }
    /* Services Section
********************************************************************* */
    .service-grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
    }
    .skill-icon-container {
        width: 8rem;
        height: 8rem;
    }
    .skill-icon-container i {
        font-size: 2rem;
    }
    .service-grid-container-2 {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2em;
    }
    .tools-knowledge-wrapper {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: start;
        align-items: center;
        -webkit-box-pack: start;
        justify-content: space-evenly;
    }
    .tools-wrapper {
        margin-right: 4em;
    }
    .tools-knowledge-heading {
        font-size: 1.8rem !important;
    }
    .tools-knowledge-ul li {
        font-size: 1.5rem;
    }
    /* Work Section
********************************************************************* */
    .work-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .work-ul ul {
        padding-left: 2.5em !important;
    }
    .icon-btn-container.github:hover {
        width: 110px;
        border: 2px solid #256265;
    }
    .icon-btn-container.demo:hover {
        width: 138px;
        border: 2px solid #256265;
    }
    /*Lightbox Styles*/
    .lb-data .lb-caption {
        font-size: 1.5rem;
    }
    .lb-data .lb-number {
        font-size: 1.2rem;
    }
    /* Experience Section
********************************************************************* */
    .timeline h3 {
        font-size: 1.8rem !important;
    }
    .timeline h4 {
        font-size: 1.5rem !important;
    }
    .timeline-info p {
        margin-bottom: .5em;
        font-size: 1.2rem;
        text-align: left;
    }
    .timeline .timeline-ul .timeline-li .timeline-li-container {
        width: 350px;
    }
    .timeline .timeline-ul .timeline-li {
        margin-left: 12px;
    }
    .timeline .timeline-ul .timeline-li:nth-child(even) .timeline-li-container {
        left: 45px;
    }
    .timeline .timeline-ul .timeline-li:nth-child(even) .timeline-li-container::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent var(--green-color) transparent transparent;
    }
    .experience-list {
        font-size: 1.2rem;
        padding-left: 2.5em !important;
    }
    .experience-list li {
        font-size: 1.2rem;
    }
    .timeline .timeline-ul .timeline-li:nth-child(odd) .timeline-li-container {
        transform: translate3d(0, 0, 0);
    }
    .timeline .timeline-ul .timeline-li:nth-child(even) .timeline-li-container {
        transform: translate3d(0, 0, 0);
    }
    .timeline .timeline-ul .timeline-li {
        margin-left: 12px;
      }
      .timeline .timeline-ul .timeline-li:nth-child(even) .timeline-li-container {
        left: 45px;
      }
      .timeline .timeline-ul .timeline-li:nth-child(even) .timeline-li-container::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent var(--green-color) transparent transparent;
      }
    /* Contact Section
********************************************************************* */
    .contact-grid-container-1 {
        grid-template-columns: 1fr;
        grid-row-gap: 1.5em;
        margin-bottom: 1.5em;
    }
    .contact-label {
        font-size: 1.5rem;
    }
    .input-group {
        margin-bottom: 0;
    }
    .contact-grid-container-2 {
        margin-bottom: 1.5em;
    }
    input[type="email"], input[type="text"], button[type="submit"], textarea, select {
        font-size: 1.5rem;
    }
    textarea {
        min-height: 200px;
        margin-bottom: 0;
    }
    .icon-paper-plane {
        font-size: 1.2rem;
        top: 1.65rem;
        left: 1.5rem;
    }
    .input-group-icon .input-icon i {
        font-size: 1.5em;
        padding-top: .6em;
    }
    .input-group-icon input {
        padding-left: 4em;
    }
    /* Footer
********************************************************************* */
    .footer-container {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
    }
    .social-media-icons li {
        margin: .5em;
        list-style: none;
        margin-bottom: 0;
    }
    .social-media-icons a {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }
    .copyright {
        -webkit-box-ordinal-group: 3;
        order: 2;
        margin-top: .75em;
    }
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
  */

@media only screen and (min-width: 320px) and (max-width: 480px) {
    /* Global Styles
**************************/
    /*Typography*/
    p {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .fonts-used-paragraph {
        margin-top: 1.5rem;
    }
    /* Grid*/
    .container {
        width: 85% !important;
        padding: 0;
    }
    .container-nav {
        width: 85% !important;
        padding: 0;
    }
    /* Header Section
**********************************************************************/
    /*Title Section*/
    .logo-img {
        width: 100px;
        height: 100px;
    }
    .title h1 {
        font-size: 4rem;
    }
    .title h2 {
        font-size: 1.5rem;
    }
    /* Navigation
**************************/
    /*Top Navigation*/
    .hidden-logo-full-width {
        display: block;
    }
    .hidden-logo-small-width {
        display: none;
    }
    .top-menu-toggle:hover {
        background-color: unset;
        border-radius: unset;
    }
    .top-menu-toggle.open-top-nav:hover {
        background-color: unset;
        border-radius: unset;
    }
    .top-menu-toggle {
        right: -2em;
        height: 2rem;
        width: 3.5rem;
        top: .5em;
    }
    .top-menu-toggle:hover .pix:nth-of-type(1) {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .top-menu-toggle:hover .pix:nth-of-type(3) {
        -webkit-transform: translate(32px, 0);
        transform: translate(32px, 0);
    }
    .top-menu-toggle:hover .pix:nth-of-type(7) {
        -webkit-transform: translate(0, 32px);
        transform: translate(0, 32px);
    }
    .top-menu-toggle:hover .pix:nth-of-type(9) {
        -webkit-transform: translate(32px, 32px);
        transform: translate(32px, 32px);
    }
    .top-menu-toggle.active:hover .pix:nth-of-type(1) {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .top-menu-toggle.active:hover .pix:nth-of-type(2) {
        -webkit-transform: translate(8px, 8px);
        transform: translate(8px, 8px);
    }
    .top-menu-toggle.active:hover .pix:nth-of-type(3) {
        -webkit-transform: translate(32px, 0px);
        transform: translate(32px, 0px);
    }
    .top-menu-toggle.active:hover .pix:nth-of-type(4) {
        -webkit-transform: translate(8px, 24px);
        transform: translate(8px, 24px);
    }
    .top-menu-toggle.active:hover .pix:nth-of-type(6) {
        -webkit-transform: translate(24px, 8px);
        transform: translate(24px, 8px);
    }
    .top-menu-toggle.active:hover .pix:nth-of-type(7) {
        -webkit-transform: translate(0px, 32px);
        transform: translate(0px, 32px);
    }
    .top-menu-toggle.active:hover .pix:nth-of-type(8) {
        -webkit-transform: translate(24px, 24px);
        transform: translate(24px, 24px);
    }
    .top-menu-toggle.active:hover .pix:nth-of-type(9) {
        -webkit-transform: translate(32px, 32px);
        transform: translate(32px, 32px);
    }
    .top-menu-bar {
        width: 35px;
        height: 2px;
        margin: .7rem auto;
    }
    .top-nav-list {
        list-style: none;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }
    .top-nav-list li {
        margin: 1.5em 0;
    }
    .top-nav-link {
        font-size: 1.5rem;
    }
    .open-top-nav .top-menu-bar:nth-child(1) {
        -webkit-transform: translateY(10px) rotate(45deg);
        transform: translateY(10px) rotate(45deg);
    }
    .open-top-nav .top-menu-bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
    /*Mobile Navigation*/
    .mobile-toggle {
        display: block !important;
        right: -.5em;
        width: 4.5rem;
        top: 2.2rem;
        height: 2rem;
    }
    .menu-bar {
        position: relative;
        top: -.6rem;
        left: 0;
        width: 35px;
        height: 2px;
        margin: .7rem auto;
    }
    .nav-list-container {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        width: 100%;
    }
    .open-nav .menu-bar:nth-child(1) {
        -webkit-transform: translateY(10px) rotate(45deg);
        transform: translateY(10px) rotate(45deg);
    }
    .open-nav .menu-bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
    /* Global Section Styles
********************************************************************* */
    .section-heading {
        font-size: 4rem;
    }
    .border-heading {
        width: 65px;
    }
    #back-to-top-btn {
        right: 1rem;
        font-size: 1.5rem;
        width: 4rem;
        height: 4rem;
    }
    #back-to-top-btn span {
        position: absolute;
        top: .6rem;
        left: 1.2rem;
        font-size: 2.5rem;
    }
    /* About Section
********************************************************************* */
    .about-grid-container {
        grid-template-columns: 1fr;
        grid-gap: 2.5em;
        grid-template-areas: 'profile-img' 'about-text';
    }
    .profile-img {
        width: 200px;
        height: 200px;
        grid-area: profile-img;
    }
    .profile-img-item {
        margin: auto;
    }
    .about-text-item {
        grid-area: about-text;
    }
    .icon-btns {
        margin-top: 1.5em;
    }
    .icon-text span {
        font-size: 1.5rem;
    }
    .icon-btn-container.resume:hover {
        width: 120px;
    }
    .icon-btn-container.contact:hover {
        width: 145px;
    }
    /* Services Section
********************************************************************* */
    .service-grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
    }
    .skill-icon-container {
        width: 8rem;
        height: 8rem;
    }
    .skill-icon-container i {
        font-size: 2rem;
    }
    .service-grid-container-2 {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2em;
    }
    .tools-knowledge-wrapper {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: start;
        align-items: center;
        -webkit-box-pack: start;
        justify-content: space-evenly
    }
    .tools-wrapper {
        margin-right: 4em;
    }
    .tools-knowledge-heading {
        font-size: 1.8rem !important;
    }
    .tools-knowledge-ul li {
        font-size: 1.5rem;
    }
    /* Work Section
********************************************************************* */
    .work-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .work-ul ul {
        padding-left: 2.5em !important;
    }
    .icon-btn-container.github:hover {
        width: 110px;
        border: 2px solid #256265;
    }
    .icon-btn-container.demo:hover {
        width: 138px;
        border: 2px solid #256265;
    }
    /*Lightbox Styles*/
    .lb-data .lb-caption {
        font-size: 1.5rem;
    }
    .lb-data .lb-number {
        font-size: 1.2rem;
    }
    /* Experience Section
********************************************************************* */
    .timeline h3 {
        font-size: 1.8rem !important;
    }
    .timeline h4 {
        font-size: 1.5rem !important;
    }
    .timeline-info p {
        margin-bottom: .5em;
        font-size: 1.2rem;
        text-align: left;
    }
    .timeline .timeline-ul .timeline-li .timeline-li-container {
        width: 250px;
      }
    .experience-list {
        font-size: 1.2rem;
        padding-left: 2.5em !important;
    }
    .experience-list li {
        font-size: 1.2rem;
    }
    .timeline .timeline-ul .timeline-li:nth-child(odd) .timeline-li-container {
        transform: translate3d(0, 0, 0);
    }
    .timeline .timeline-ul .timeline-li:nth-child(even) .timeline-li-container {
        transform: translate3d(0, 0, 0);
    }
    .timeline .timeline-ul .timeline-li {
        margin-left: 12px;
      }
      .timeline .timeline-ul .timeline-li:nth-child(even) .timeline-li-container {
        left: 45px;
      }
      .timeline .timeline-ul .timeline-li:nth-child(even) .timeline-li-container::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent var(--green-color) transparent transparent;
      }
    /* Contact Section
********************************************************************* */
    .contact-grid-container-1 {
        grid-template-columns: 1fr;
        grid-row-gap: 1.5em;
        margin-bottom: 1.5em;
    }
    .contact-label {
        font-size: 1.5rem;
    }
    .input-group {
        margin-bottom: 0;
    }
    .contact-grid-container-2 {
        margin-bottom: 1.5em;
    }
    input[type="email"], input[type="text"], button[type="submit"], textarea, select {
        font-size: 1.5rem;
    }
    textarea {
        min-height: 200px;
        margin-bottom: 0;
    }
    .icon-paper-plane {
        font-size: 1.2rem;
        top: 1.65rem;
        left: 1.5rem;
    }
    .input-group-icon .input-icon i {
        font-size: 1.5em;
        padding-top: .6em;
    }
    .input-group-icon input {
        padding-left: 4em;
    }
    /* Footer
********************************************************************* */
    .footer-container {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
    }
    .social-media-icons li {
        margin: .5em;
        list-style: none;
        margin-bottom: 0;
    }
    .social-media-icons a {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }
    .copyright {
        -webkit-box-ordinal-group: 3;
        order: 2;
        margin-top: .75em;
    }
}

/* iPhone Devices
********************************************************************* */

/* iPhone 5, 5S, 5C and 5SE */

/* Portrait */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .main_nav.resume.sticky {
        height: 40% !important;
    }
    .main_nav.work.sticky {
        height: 60% !important;
    }
    .top-nav-list li {
        margin: 1em 0;
    }
}

/* Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .top-nav-list {
        list-style: none;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }
    .top-nav-list li {
        margin: 0 .5em !important;
    }
    .top-nav-link {
        font-size: 1.2rem;
    }
    .main_nav.sticky {
        height: 55% !important;
    }
    .main_nav.work.sticky {
        height: 55% !important;
    }
    .nav-list {
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: normal !important;
        flex-direction: row !important;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: space-between;
        margin: 0;
    }
    .nav-container ul li {
        padding: 1.5em 0;
        margin: 0 !important;
    }
}

/* iPhone 6, 6S, 7 and 8 */

/* Portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .main_nav.resume.sticky {
        height: 35% !important;
    }
    .main_nav.work.sticky {
        height: 50% !important;
    }
}

/* Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .top-nav-list {
        list-style: none;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }
    .top-nav-list li {
        margin: 0 .75em;
    }
    .top-nav-link {
        font-size: 1.5rem;
    }
    .sticky {
        height: 45% !important;
    }
    .nav-list {
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: normal !important;
        flex-direction: row !important;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: space-between;
        margin: 0;
    }
    .nav-container ul li {
        padding: 3em 0 !important;
        margin: 0 !important;
    }
    .nav-list-container.work ul li {
        padding: 1.5em 0 !important;
    }
    .nav-list-container.resume ul li {
        padding: 1.5em 0 !important;
    }
    .nav-list.resume {
        -webkit-box-pack: center;
        justify-content: center;
    }
    .nav-link.resume {
        padding: 0 2em;
    }
    .work-grid {
        grid-template-columns: repeat(1, 1fr 1fr);
    }
}

/* iPhone 6+, 7+ and 8+ */

/* Portrait */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    .main_nav.work.sticky {
        height: 45% !important;
    }
    .main_nav.resume.sticky {
        height: 30% !important;
    }
}

/* Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    .top-nav-list {
        list-style: none;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }
    .top-nav-list li {
        margin: 0 1em;
    }
    .top-nav-link {
        font-size: 1.5rem;
    }
    .sticky {
        height: 45% !important;
    }
    .nav-list {
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: normal !important;
        flex-direction: row !important;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: space-between;
        margin: 0;
    }
    .nav-list-container.work ul li {
        padding: 2em 0 !important;
    }
    .nav-list-container.resume ul li {
        padding: 2em 0 !important;
    }
    .nav-container ul li {
        padding: 4em 0 !important;
        margin: 0 !important;
    }
}

/* iPhone X */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    .main_nav.work.sticky {
        height: 48% !important;
    }
    .main_nav.resume.sticky {
        height: 25% !important;
    }
}

/* Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    /* Global Styles
**************************/
    /*Typography*/
    p {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .fonts-used-paragraph {
        margin-top: 1.5rem;
    }
    /* Grid*/
    .container {
        width: 85% !important;
        padding: 0;
    }
    .container-nav {
        width: 85% !important;
        padding: 0;
    }
    /* Header Section
**********************************************************************/
    /*Title Section*/
    .logo-img {
        width: 100px;
        height: 100px;
    }
    .title h1 {
        font-size: 4rem;
    }
    .title h2 {
        font-size: 1.5rem;
    }
    .main_nav.work.sticky {
        height: 45% !important;
    }
    .sticky {
        height: 45%;
    }
    .main_nav.resume.sticky {
        height: 45% !important;
    }
    /*Top Navigation*/
    .top-menu-toggle {
        right: 0;
        height: 2rem;
        width: 3.5rem;
    }
    .top-menu-bar {
        width: 35px;
        height: 2px;
        margin: .7rem auto;
    }
    .top-nav-list {
        list-style: none;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }
    .top-nav-list li {
        margin: 0 1em;
    }
    .top-nav-link {
        font-size: 1.5rem;
    }
    .open-top-nav .top-menu-bar:nth-child(1) {
        -webkit-transform: translateY(10px) rotate(45deg);
        transform: translateY(10px) rotate(45deg);
    }
    .open-top-nav .top-menu-bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
    /*Mobile Navigation*/
    .mobile-toggle {
        display: block !important;
        right: -.5em;
        width: 4.5rem;
        top: 1.8rem;
        height: 2rem;
    }
    .menu-bar {
        position: relative;
        top: -.6rem;
        left: 0;
        width: 35px;
        height: 2px;
        margin: .7rem auto;
    }
    .nav-list {
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: normal !important;
        flex-direction: row !important;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: space-between;
        margin: 0;
    }
    .nav-list.resume {
        -webkit-box-pack: center;
        justify-content: center;
    }
    .nav-link.resume {
        padding: 0 2em;
    }
    .nav-container ul li {
        padding: 1.5em 0;
        margin: 0 !important;
    }
    .nav-list-container {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        width: 100%;
    }
    .open-nav .menu-bar:nth-child(1) {
        -webkit-transform: translateY(10px) rotate(45deg);
        transform: translateY(10px) rotate(45deg);
    }
    .open-nav .menu-bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
    /* About Section
********************************************************************* */
    .about-grid-container {
        grid-template-columns: 1fr;
        grid-gap: 2.5em;
        grid-template-areas: 'profile-img' 'about-text';
    }
    .profile-img {
        width: 200px;
        height: 200px;
        grid-area: profile-img;
    }
    .about-text-item {
        grid-area: about-text;
    }
    .icon-text span {
        font-size: 1.5rem;
    }
    /* Services Section
********************************************************************* */
    .service-grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
    }
    .skill-icon-container {
        width: 8rem;
        height: 8rem;
    }
    .skill-icon-container i {
        font-size: 2rem;
    }
    .service-grid-container-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5em;
        width: 100%;
        margin-top: 2.5em;
    }
    .tools-knowledge-wrapper {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: start;
        align-items: flex-start;
        -webkit-box-pack: start;
        justify-content: flex-start;
    }
    .tools-wrapper {
        margin-right: 4em;
    }
    .tools-knowledge-heading {
        font-size: 1.8rem !important;
    }
    .tools-knowledge-ul li {
        font-size: 1.5rem;
    }
    /* Work Section
********************************************************************* */
    .work-grid {
        grid-template-columns: repeat(1, 1fr 1fr);
    }
    .work-ul {
        padding-left: 2.5em !important;
    }
    /*Lightbox Styles*/
    .lb-data .lb-caption {
        font-size: 1.5rem;
    }
    .lb-data .lb-number {
        font-size: 1.2rem;
    }
    /* Experience Section
********************************************************************* */
    .timeline ul {
        padding: 2rem;
        width: 65%;
        margin-right: 0;
    }
    .timeline h3 {
        font-size: 1.8rem !important;
    }
    .timeline h4 {
        font-size: 1.5rem !important;
    }
    .timeline .date {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        position: relative;
    }
    .timeline .date::before {
        left: -16.8rem;
        text-align: right;
        min-width: 12rem;
        height: .5rem;
        font-size: 1rem;
    }
    .timeline .date::after {
        content: '';
        background-color: #fcfcfc;
        border-radius: 100%;
        left: -2.7rem;
        height: 1rem;
        width: 1rem;
    }
    .experience-info p {
        margin-bottom: .5em;
        font-size: 1.2rem;
        text-align: left;
    }
    .experience-list {
        padding-left: 2.5em !important;
        font-size: 1.2rem;
    }
    .experience-list li {
        font-size: 1.2rem;
    }
    /* Contact Section
********************************************************************* */
    .contact-grid-container-1 {
        grid-template-columns: 1fr;
        grid-row-gap: 1.5em;
        margin-bottom: 1.5em;
    }
    .contact-label {
        font-size: 1.5rem;
    }
    .input-group {
        margin-bottom: 0;
    }
    .contact-grid-container-2 {
        margin-bottom: 1.5em;
    }
    input[type="email"], input[type="text"], button[type="submit"], textarea, select {
        font-size: 1.5rem;
    }
    textarea {
        min-height: 200px;
        margin-bottom: 0;
    }
    .icon-paper-plane {
        font-size: 1.2rem;
        top: 1.65rem;
        left: 1.5rem;
    }
    .input-group-icon .input-icon i {
        font-size: 1.5em;
        padding-top: .6em;
    }
    .input-group-icon input {
        padding-left: 4em;
    }
    /* Footer 
********************************************************************* */
    .footer-container {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
    }
    .social-media-icons li {
        margin: .5em;
        list-style: none;
        margin-bottom: 0;
    }
    .social-media-icons a {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }
    .copyright {
        -webkit-box-ordinal-group: 3;
        order: 2;
        margin-top: .75em;
    }
}

/* Samsung Galaxy Devices
********************************************************************* */

/* Galaxy S4, S5 and Note 3 */

/* Portrait */

@media screen and (min-device-width: 320px) and (max-device-width: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    .main_nav.resume.sticky {
        height: 30% !important;
    }
}

/* Landscape */

@media screen and (min-device-width: 320px) and (max-device-width: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    .top-nav-list li {
        margin: 0 .75em;
    }
    .sticky {
        height: 50% !important;
    }
    .main_nav.work.sticky {
        height: 50% !important;
    }
    .main_nav.resume.sticky {
        height: 50% !important;
    }
}

/* Galaxy S9/S9+  */

/* Portrait */

@media screen and (min-device-width: 360px) and (max-device-width: 740px) and (-webkit-device-pixel-ratio: 4) and (orientation: portrait) {
    .main_nav.resume.sticky {
        height: 31% !important;
    }
    .main_nav.work.sticky {
        height: 52% !important;
    }
}

/* Landscape */

@media screen and (min-device-width: 360px) and (max-device-height: 740px) and (-webkit-device-pixel-ratio: 4) and (orientation: landscape) {
    .sticky {
        height: 48% !important;
    }
    .main_nav.work.sticky {
        height: 50% !important;
    }
    .main_nav.resume.sticky {
        height: 50% !important;
    }
    .nav-container ul li {
        padding: 3em 0 !important;
    }
    .nav-link.resume {
        padding: 0 2em;
    }
    .nav-list-container.work ul li {
        padding: 2em 0 !important;
    }
    .nav-list-container.resume ul li {
        padding: 2em 0 !important;
    }
}

/* Custom Galaxy S8/S8+  */

/* Portrait */

@media only screen and (min-device-width: 412px) and (max-device-width: 846px) and (-webkit-device-pixel-ratio: 4) and (orientation: portrait) {
    .main_nav.work.sticky {
        height: 47% !important;
    }
    .main_nav.resume.sticky {
        height: 27% !important;
    }
}

/* Landscape */

@media only screen and (min-device-width: 412px) and (max-device-height: 846px) and (-webkit-device-pixel-ratio: 4) and (orientation: landscape) {
    .top-nav-list li {
        margin: 0 1em !important;
    }
    /*Title Section*/
    .logo-img {
        width: 100px;
        height: 100px;
    }
    .title h1 {
        font-size: 4rem !important;
    }
    .title h2 {
        font-size: 1.5rem;
    }
    .sticky {
        height: 45% !important;
    }
    .main_nav.work.sticky {
        height: 45% !important;
    }
    .main_nav.resume.sticky {
        height: 45% !important;
    }
    .nav-container ul li {
        padding: 2em 0 !important;
    }
    .nav-link.resume {
        padding: 0 2em;
    }
    .nav-list-container.work ul li {
        padding: 2em 0 !important;
    }
    .nav-list-container.resume ul li {
        padding: 2em 0 !important;
    }
}