:root {
	--black-color: #222222;
	--white-color: #FCFCFC;
	--green-color: #256265;
	--dark-green-color: #357f82;
	--menu-green-color: #1f5053;
	--grey-color: #E1E1E1;
	--light-grey-color: #F5F5F5;
	--dark-grey-color: #888888;
	--scroll-grey-color: #cccccc;
	--scroll-dark-grey-color: #aaaaaa;
	--top-menu-color: rgba(31, 80, 83, .6);
	--top-menu-color-alt: rgba(37, 98, 101, .6);
}

/* Global Styles
**********************************************************************/

body {
    background-color: #fcfcfc;
    overflow-y: hidden;
}

object {
	height: 100%;
	width: 100%;
}

/* Navigation
**********************************************************************/

/*Main Navigation*/

.sticky {
    height: 32%;
}

.nav-container {
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
}

.nav-list-container {
    border-top: 1px solid #fcfcfc;
    margin-top: 2em;
}

.nav-list {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0;
}

.nav-container ul li:first-child {
	padding-top: 1.5em;
}

.nav-container ul li {
    padding-bottom: 1.5em;
    padding: 0;
	margin: 0 !important;
}

.nav-container ul li {
    padding-bottom: 1.5em;
}

/*Mobile Navigation*/

.mobile-toggle {
    display: block !important;
    right: 1.5rem;
    width: 4.5rem;
    top: 1.6rem;
    height: 2.5rem;
}

/* Breadcrumb
**********************************************************************/

.breadcrumb-container {
    padding-top: 10em;
}

.breadcrumb-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    margin: 1rem 0 1rem 0;
    list-style: none;
}

.breadcrumb-item a {
    color: #888;
}

.breadcrumb-item a:hover {
    color: #256265;
    transition: all 250ms ease-out;
    text-decoration: line-through;
}

.breadcrumb-item i:hover {
    color: #256265;
    transition: all 250ms ease-out;
    text-decoration: line-through;
}

.breadcrumb-item.active {
    color: #256265;
}

.breadcrumb-item:first-child::before {
    content: none;
    display: inline-block;
    padding: 0 0.5rem;
    color: #888;
}

.breadcrumb-item::before {
    content: '/';
    display: inline-block;
    padding: 0 1.5rem;
    color: #888;

}


/* Object Fallback Text
**********************************************************************/

.object-fallback-text {
	height: 75%;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	text-align: center;
	background-color: #fcfcfc;
}

.broken-file-icon {
    width: 12.5%;
    margin-bottom: 2rem;
}

.object-fallback-text a {
	text-decoration: underline;
	color: #357f82;
}

.object-fallback-text p {
	text-align: center;
	color: #222222;
}

.resume-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.broken-file-title {
    color: #222222;
    padding-right: 1.5rem;
    font-size: 7.5rem;
    animation: type .5s alternate infinite;
}

@keyframes type{
    from{box-shadow: inset -3px 0px 0px #222222;}
    to{box-shadow: inset -3px 0px 0px transparent;}
}

.resume-btn {
    background-color: var(--green-color);
    color: var(--white-color) !important;
    padding: 1rem 2rem;
    border-radius: 50px;
    font-size: 1.8rem;
    text-decoration: none !important;
}

.resume-btn i {
    padding-right: .5rem;
}

.resume-btn:hover {
	background: var(--dark-green-color);
	text-decoration: none;
	-webkit-transition: background-color 250ms ease-out;
    transition: background-color 250ms ease-out;
    color: var(--white-color);
}

/* Media Queries
**********************************************************************/
@media (max-width: 1280px) {
    .nav-container.work ul li {
        padding-bottom: 1.5em;
        font-size: 1.8rem !important; 
        margin: 0 !important;
    }
    .broken-file-icon {
        width: 20%;
    }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
    .broken-file-icon {
        width: 20%;
    }
    .broken-file-title {
        font-size: 6rem;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .sticky {
        height: 50% !important;
    }
    .nav-container ul li:first-child {
        padding-top: 0;
        padding-bottom: 0;
    }
    .nav-container ul li {
        padding: 2em 1em !important;
        font-size: 1rem;
    }
    li {
        font-size: 1.5rem !important;
    }
    .broken-file-icon {
        width: 30%;
    }
    .broken-file-title {
        font-size: 4rem;
    }
    .resume-btn {
        font-size: 1.5rem;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    li {
        font-size: 1.5rem !important;
    }
    .broken-file-icon {
        width: 30%;
    }
    .broken-file-title {
        font-size: 4rem;
    }
    .resume-btn {
        font-size: 1.5rem;
    }
}