:root {
	--black-color: #222222;
	--white-color: #FCFCFC;
	--green-color: #256265;
	--dark-green-color: #357f82;
	--menu-green-color: #1f5053;
	--grey-color: #E1E1E1;
	--light-grey-color: #F5F5F5;
	--dark-grey-color: #888888;
	--scroll-grey-color: #cccccc;
	--scroll-dark-grey-color: #aaaaaa;
	--top-menu-color: rgba(31, 80, 83, .6);
	--top-menu-color-alt: rgba(37, 98, 101, .6);
}

/* Font Import
**************************/

@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
/* Global Styles
**************************/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	font-size: 10px;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	color: var(--black-color);
	line-height: 1.5;
}

/*Image*/

img {
	width: 100%;
}

/*Grid*/

.container {
	position: relative;
	width: 90%;
	max-width: 120rem;
	margin: 0 auto;
	padding: 0 20px;
}

.container-nav {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
}

section {
	padding: 10rem 0;
}

/*Typography*/

h1, h2 {
	margin-bottom: 2.5rem;
}

h1 {
	font-size: 7.5rem;
	line-height: 1.2;
}

h2 {
	font-size: 3.6rem;
	line-height: 1.25;
	font-weight: 400;
}

h3 {
	font-size: 2.5rem !important;
	font-weight: 700 !important;
	line-height: 1.25;
	letter-spacing: 1.5px;
	color: var(--black-color);
}

h4 {
	font-size: 1.5rem !important;
	font-weight: 700;
	line-height: 1.25;
	color: var(--black-color);
}

p {
	font-size: 1.8rem;
	font-weight: 400;
	text-align: justify;
	margin-top: 0;
	color: var(--black-color);
}

/*Links*/

a {
	text-decoration: none;
	color: var(--black-color);
}

a:hover {
	color: var(--green-color);
}

:focus {
	outline: none;
}

::-moz-focus-inner {
	border: 0;
}

/*Lists*/

ul {
	list-style: circle inside;
}

li {
	margin-bottom: 1rem;
	font-weight: 400;
	font-size: 1.8rem;
	color: var(--black-color);
}

hr {
	height: 1px;
	color: var(--white-color);
	background-color: var(--white-color);
	border: none;
}

/*Spacing*/

input, textarea {
	margin-bottom: 1.5rem;
	font-family: 'Open Sans', sans-serif;
}

p, ul, form {
	margin-bottom: 2.5rem;
}

/*Scroll Bar Styles*/

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	border-radius: 10px;
	background-color: var(--scroll-grey-color);
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--scroll-dark-grey-color);
}

/* Header Section
**********************************************************************/

#home {
	width: 100%;
	height: 100vh;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	background: var(--green-color);
}

/*Top Navigation*/

.top-nav {
	width: 100%;
	height: 100vh;
	position: fixed;
	background: var(--menu-green-color);
	top: -100vh;
	z-index: 50;
	opacity: 0;
	transition: opacity .5s;
	transform: scale(0);
}

.top-nav-list {
	list-style: none;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
}

.top-nav-list li {
	margin: 2em 0;
}

.top-nav-link {
	font-size: 1.8rem;
	color: var(--white-color);
	letter-spacing: 1.5px;
}

.top-nav-link:hover, .top-nav-link:focus {
	text-decoration: line-through;
	color: var(--white-color);
}

.top-nav.open-top-nav {
	top: 0;
	opacity: 1;
	transform: scale(1);
}

.top-menu-toggle {
	position: absolute;
	right: 5rem;
	width: 8rem;
	top: 2rem;
	height: 8rem;
	cursor: pointer;
	z-index: 1500;
	-webkit-transition: -webkit-transform 650ms ease-out;
	transition: -webkit-transform 650ms ease-out;
	transition: transform 650ms ease-out;
	transition: transform 650ms ease-out, -webkit-transform 650ms ease-out;
	padding-top: 1.7em;
}

.top-menu-toggle:hover {
	background-color: var(--top-menu-color);
	border-radius: 100%;
	-webkit-transition: all 250ms ease-out;
	transition: all 250ms ease-out;
}

.top-menu-toggle.open-top-nav:hover {
	background-color: var(--top-menu-color-alt);
	border-radius: 100%;
	-webkit-transition: all 250ms ease-out;
	transition: all 250ms ease-out;
}

.top-menu-bar {
	position: relative;
	background-color: var(--white-color);
	width: 40px;
	height: 2px;
	border-radius: .8rem;
	margin: .9rem auto;
}

.top-menu-toggle .top-menu-bar {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.open-top-nav .top-menu-bar:nth-child(1) {
	-webkit-transform: translateY(10.8px) rotate(45deg);
	transform: translateY(10.8px) rotate(45deg);
}

.open-top-nav .top-menu-bar:nth-child(2) {
	opacity: 0;
}

.open-top-nav .top-menu-bar:nth-child(3) {
	-webkit-transform: translateY(-11.5px) rotate(-45deg);
	transform: translateY(-11.5px) rotate(-45deg);
}

/*Title Section*/

.logo-img {
	width: 150px;
	height: 150px;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -80%);
	transform: translate(-50%, -75%);
	width: 100%;
	text-align: center;
	z-index: 1;
}

.title h1 {
	line-height: 0.85;
	font-weight: 700;
	color: #fcfcfc;
	font-size: 7.5rem;
	color: var(--white-color);
	margin: 2rem 0;
	letter-spacing: 2.5px;
	font-family: 'Arimo', sans-serif;
}

.divide-border {
	width: 100%;
	height: 2px;
	background-color: var(--white-color);
}

.title h2 {
	color: var(--white-color);
	font-size: 1.8rem;
	font-weight: 400;
	letter-spacing: 2.5px;
	line-height: 27px;
	margin-top: 2rem;
	margin-bottom: 0;
}

.scroll-down {
	position: absolute;
	bottom: 5rem;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
}

.arrow span {
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	border: 2px solid transparent;
	border-right-color: var(--white-color);
	border-bottom-color: var(--white-color);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-animation: arrow-down 1s alternate infinite;
	animation: arrow-down 1s alternate infinite;
	margin: auto;
}

@-webkit-keyframes arrow-down {
	0% {
		opacity: 0;
	}
	25% {
		opacity: .25;
	}
	50% {
		opacity: .5;
	}
	75% {
		opacity: .75;
	}
	100% {
		opacity: 1;
	}
}

@keyframes arrow-down {
	0% {
		opacity: 0;
	}
	25% {
		opacity: .25;
	}
	50% {
		opacity: .5;
	}
	75% {
		opacity: .75;
	}
	100% {
		opacity: 1;
	}
}

.title p {
	max-width: 600px;
	margin: 0 auto;
	line-height: 150%;
}

.title .icon {
	color: var(--white-color);
	font-size: 50px;
}

/*Main Navigation*/

.main_nav {
	position: fixed;
	top: 0px;
	max-height: 85px;
	z-index: 999;
	width: 100%;
	padding: .75rem 0;
	background: var(--green-color);
	overflow: hidden;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 0;
	top: -100px;
	padding-bottom: 6px;
}

.open-nav {
	max-height: 500px !important;
}

.sticky {
	background-color: var(--green-color);
	opacity: 1;
	top: 0px;
	height: 100%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding-bottom: 0;
}

nav {
	width: 100%;
	margin-top: 0;
}

.nav-container {
	display: -webkit-box;
	display: flex;
}

.logo-nav {
	-webkit-box-flex: 1;
	flex: 1;
	margin-top: 4px;
}

.logo-img-nav {
	width: 60px;
	height: 60px;
}

nav ul a {
	font-size: 12px;
	text-decoration: none;
}

.nav-list-container {
	display: -webkit-box;
	display: flex;
	-webkit-box-flex: 4;
	flex: 4;
}

.nav-list {
	list-style: none;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: start;
	justify-content: flex-start;
	margin: 0;
}

.nav-list li {
	margin: 0 2.5em;
}

.nav-link {
	font-size: 1.5rem;
	color: var(--white-color);
	letter-spacing: 1.5px;
}

.nav-link:hover, .nav-link:focus {
	text-decoration: line-through;
	color: var(--white-color);
}

/*Mobile Navigation*/

.mobile-toggle {
	display: none !important;
	position: absolute;
	text-align: right;
	right: 0;
	width: 4rem;
	top: 2.5rem;
	height: 2.5rem;
	cursor: pointer;
	z-index: 1500;
	-webkit-transition: -webkit-transform 650ms ease-out;
	transition: -webkit-transform 650ms ease-out;
	transition: transform 650ms ease-out;
	transition: transform 650ms ease-out, -webkit-transform 650ms ease-out;
}

.menu-bar {
	position: relative;
	top: -.6rem;
	left: 0;
	width: 40px;
	height: 2px;
	margin: .8rem auto;
	border-radius: .9rem;
	background: var(--white-color);
}

.mobile-toggle .menu-bar {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.open-nav .menu-bar:nth-child(1) {
	-webkit-transform: translateY(10px) rotate(45deg);
	transform: translateY(10px) rotate(45deg);
}

.open-nav .menu-bar:nth-child(2) {
	opacity: 0;
}

.open-nav .menu-bar:nth-child(3) {
	-webkit-transform: translateY(-10px) rotate(-45deg);
	transform: translateY(-10px) rotate(-45deg);
}

.hr-nav {
	margin-top: .5em;
	color: var(--green-color);
	display: none;
}

/* Global Section Styles
********************************************************************* */

.section-heading {
	font-size: 5rem;
	font-weight: 700;
	letter-spacing: 1.5px;
	font-family: 'Arimo', sans-serif;
}

.border-heading {
	width: 75px;
	height: 4px;
	background: -webkit-gradient(linear, left top, right top, color-stop(25%, #357f82), color-stop(50%, #357f82), color-stop(50%, #256265), to(#256265));
	background: linear-gradient(to right, #357f82 25%, #357f82 50%, #256265 50%, #256265 100%);
	margin-bottom: 50px;
	border-radius: 4px;
}

#back-to-top-btn {
	display: inline-block;
	position: fixed;
	bottom: 12rem;
	right: 5rem;
	z-index: 1000;
	outline: none;
	background-color: var(--dark-green-color);
	color: var(--white-color);
	width: 5rem;
	height: 5rem;
	border-radius: 100%;
	cursor: pointer;
	transition: background-color .5s, opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	-webkit-animation: pulse 2s infinite;
	animation: pulse 2s infinite;
}

#back-to-top-btn span {
	position: absolute;
	top: .8rem;
	left: 1.5rem;
	font-size: 3rem;
}

#back-to-top-btn:hover {
	background: var(--green-color);
	-webkit-transition: all 250ms ease-out;
	transition: all 250ms ease-out;
}

#back-to-top-btn:active {
	background: var(--green-color);
	;
}

#back-to-top-btn.show {
	opacity: 1;
	visibility: visible;
}

@-webkit-keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(37, 98, 101, 0.99);
	}
	50% {
		box-shadow: 0 0 0 2rem rgba(37, 98, 101, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(37, 98, 101, 0.99);
	}
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(37, 98, 101, 0.99);
	}
	50% {
		box-shadow: 0 0 0 2rem rgba(37, 98, 101, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(37, 98, 101, 0.99);
	}
}

/* About Section
********************************************************************* */

#about {
	background-color: var(--white-color);
}

.about-grid-container {
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	grid-gap: 5em;
	width: 100%;
}

.profile-img-item {
	margin: auto 0 auto auto;
}

.profile-img {
	width: 300px;
	height: 300px;
}

.profile-img img {
	border-radius: 100%;
	border: 4px solid #E1E1E1;
}

.about-text-item p:last-child {
	margin-bottom: 0;
}

.social-icons-list {
	list-style: none;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	-webkit-box-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	align-items: center;
}

.icon-link {
	margin-right: 2em;
}

.icon-btns {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	margin-top: 2.5em;
}

.icon-btn-container {
	position: relative;
	border-radius: 100px;
	width: 25px;
	overflow: hidden;
	height: 20px;
	cursor: pointer;
	-webkit-animation: pop .6s;
	padding: 2em;
	border: 2px solid var(--dark-green-color);
	color: var(--white-color);
	-webkit-transition-property: width;
	transition-property: width;
	-webkit-transition-duration: .2s, .2s;
	transition-duration: .2s, .2s;
	-webkit-transition-timing-function: cubic-bezier(0.38, -0.35, 0.265, 1.15);
	margin-right: 1.5em;
}

.icon-btn-container.resume:hover {
	width: 130px;
	border: 2px solid var(--green-color);
}

.icon-btn-container.contact:hover {
	width: 162px;
	border: 2px solid var(--green-color);
}

.icon-btn-container:hover>.icon-text {
	top: 0;
	opacity: 1;
	-webkit-transition-property: top, opacity;
	transition-property: top, opacity;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-delay: .3s;
	transition-delay: .3s;
}

.icon-text {
	margin-left: 2rem;
	top: 0;
	opacity: 0;
	position: relative;
}

.icon-text span {
	color: var(--green-color);
	font-size: 1.8rem;
	position: absolute;
	bottom: -.5em;
	left: 0;
	font-family: 'Open Sans', sans-serif !important;
}

.contact-icon span {
	position: absolute;
	bottom: .68em;
	left: .75em;
}

span.icon-envelope {
	font-size: 1.6rem;
	color: var(--green-color);
}

span.icon-envelope:hover {
	color: var(--green-color);
	border-color: var(--green-color);
}

.resume-icon span {
	position: absolute;
	bottom: .7em;
	left: .77em;
}

span.icon-profile {
	font-size: 1.6rem;
	color: var(--green-color);
}

span.icon-profile:hover {
	color: var(--green-color);
}

/* Services Section
********************************************************************* */

#services {
	background-color: #F5F5F5;
}

.service-grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 5em;
	width: 100%;
}

.skill-container {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	padding: 2rem;
}

.skill-icon-container {
	width: 10rem;
	height: 10rem;
	border: var(--dark-green-color) 3px solid;
	border-radius: 100%;
	display: -webkit-box;
	display: flex;
}

.skill-icon-container i {
	color: var(--green-color);
	font-size: 3rem;
	margin: auto;
}

.skill-heading {
	letter-spacing: 1.5px;
	margin-top: 2rem;
}

.service-grid-container-2 {
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	grid-gap: 5em;
	width: 100%;
	margin-top: 2.5em;
}

.service-heading-container {
	display: -webkit-box;
	display: flex;
	margin-bottom: .5rem;
}

.service-heading-container div {
	margin-right: .5em;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.service-heading-container i {
	font-size: 1.5rem;
}

.progressBar {
	margin-bottom: 26px;
	margin-bottom: 1.66em;
}

.progressBar h4 {
	font-size: 16px;
	text-transform: none;
}

.progressBarContainer {
	width: 100%;
	height: 4px;
	background: #E1E1E1;
	overflow: hidden;
	border-radius: 4px;
}

.progressBarValue {
	height: 4px;
	float: left;
	border-radius: 4px;
}

.progressBarValue.html {
	background: #e44d26;
}

.html-icon {
	width: 26%;
	margin-bottom: .15em;
}

.progressBarValue.css {
	background: #379ad6;
}

.css-icon {
	width: 26%;
	margin-bottom: .15em;
}

.progressBarValue.js {
	background: #f7e018;
}

.javascript-icon {
	width: 26%;
}

.progressBarValue.java {
	background: #73a1fb;
}

.java-icon {
	width: 30%;
	margin-bottom: .2em;
}

.progressBarValue.c-sharp {
	background: #9a4993;
}

.c-sharp-icon {
	width: 26%;
	margin-bottom: .1em;
}

.progressBarValue.wireframing {
	background: var(--black-color);
}

.figma-icon {
	width: 12.5%;
	margin-right: .5rem;
}

.adobe-xd-icon {
	width: 14%;
}

.value-00 {
	width: 0;
}

.value-10 {
	width: 10%;
}

.value-20 {
	width: 20%;
}

.value-25 {
	width: 25%;
}

.value-30 {
	width: 30%;
}

.value-40 {
	width: 40%;
}

.value-50 {
	width: 50%;
}

.value-60 {
	width: 60%;
}

.value-70 {
	width: 70%;
}

.value-75 {
	width: 75%;
}

.value-85 {
	width: 85%;
}

.value-90 {
	width: 90%;
}

.value-100 {
	width: 100%;
}

.tools-knowledge-wrapper {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: end;
	justify-content: flex-end;
}

.tools-knowledge-heading {
	margin-bottom: .5em;
}

.tools-wrapper {
	margin-right: 5em;
}

.tools-knowledge-ul {
	padding-left: 2em;
	margin-bottom: 0;
}

/* Work Section
********************************************************************* */

#work {
	background-color: var(--white-color);
}

.work-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 5em;
}

.work-container {
	position: relative;
	max-width: 100%;
	margin-bottom: 1em;
}

.work-image {
	border-radius: 4px;
	max-width: 100%;
	display: block;
	height: auto;
	cursor: pointer;
}

.work-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	border-radius: 4px;
	-webkit-transition: .5s ease;
	transition: .5s ease;
	background-color: rgba(34, 34, 34, .75);
}

.work-container:hover .work-overlay {
	opacity: 1;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	cursor: pointer;
}

.overlay-icon {
	color: var(--white-color);
	;
	font-size: 4rem;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.fa-eye:hover {
	color: var(--white-color);
}

.work-paragraph {
	margin-bottom: 0;
}

.work-paragraph-2 {
	margin-bottom: 1em;
}

.live-icon span {
	position: absolute;
	bottom: .5em;
	left: .55em;
}

span.icon-play-circle {
	font-size: 2rem;
	color: var(--green-color);
}

span.icon-play-circle:hover {
	color: var(--green-color);
}

.github-icon span {
	position: absolute;
	bottom: .55em;
	left: .565em;
}

span.icon-github {
	font-size: 2rem;
	color: var(--green-color);
}

span.icon-github:hover {
	color: var(--green-color);
}

.icon-btn-container.github:hover {
	width: 120px;
	border: 2px solid var(--green-color);
}

.icon-btn-container.demo:hover {
	width: 153px;
	border: 2px solid var(--green-color);
}

/* Experience Section
********************************************************************* */

#experience {
	background-color: #F5F5F5;
}

.timeline ul {
	border-left: 4px solid var(--dark-green-color);
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	background-color: #e6e6e6;
	margin: 0 auto;
	position: relative;
	padding: 5rem;
	list-style: none;
	text-align: left;
	width: 70%;
}

.timeline h3 {
	font-size: 2.5rem;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: .1em;
}

.h3-margin-top {
	margin-top: 1em !important;
}

.timeline h4 {
	font-size: 2rem !important;
	font-weight: 400;
	margin-bottom: 1rem;
	color: #357f82;
}

.timeline li:last-child {
	margin-bottom: 0;
}

.timeline .date {
	border-bottom: 1px solid var(--dark-green-color);
	margin-bottom: 1rem;
	padding-bottom: 2rem;
	position: relative;
}

.timeline .date:last-of-type {
	padding-bottom: 0;
	margin-bottom: 0;
	border: none;
}

.timeline .date::before, .timeline .date::after {
	position: absolute;
	display: block;
	top: 50%;
	-webkit-transform: translateY(50%);
	transform: translateY(50%);
}

.timeline .date::before {
	content: attr(data-date);
	left: -21rem;
	text-align: right;
	min-width: 12rem;
	height: 1rem;
	font-size: 1.4rem;
}

.timeline .date::after {
	content: '';
	box-shadow: 0 0 0 4px var(--green-color);
	background-color: var(--white-color);
	border-radius: 100%;
	left: -5.905rem;
	height: 1.5rem;
	width: 1.5rem;
}

.experience-info p {
	margin-bottom: .5em;
	font-size: 1.6rem;
}

.experience-list {
	font-size: 1.2rem;
	border: none !important;
	border-bottom-right-radius: 0 !important;
	border-top-right-radius: 0 !important;
	background-color: none !important;
	margin: 0 !important;
	position: relative;
	padding: 0 0 0 4rem !important;
	list-style: circle !important;
	text-align: left;
}

.experience-list li {
	font-size: 1.6rem;
}

/* Contact Section
********************************************************************* */

#contact {
	background-color: var(--white-color);
}

.contact-grid-container-1 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	grid-column-gap: 5em;
}

.contact-grid-container-2 {
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
}

.input-effect {
	position: relative;
}

.contact-grid-container-3 {
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
}

.contact-grid-container-3 {
	align-self: center;
	justify-self: start;
}

input[type="email"], input[type="text"], textarea {
	height: 38px;
	padding: 6px 10px;
	background-color: var(--white-color);
	border: 1px solid #E1E1E1;
	border-radius: 4px;
	box-shadow: none;
	outline: none;
	font-size: 1.8rem;
	margin-bottom: 0 !important;
	width: 100%;
}

.contact-label {
	font-size: 1.8rem;
	line-height: 27px;
}

.input-border {
	position: relative;
	border-radius: 4px;
	overflow: hidden;
}

.input-effect~.focus-border:before, .input-effect~.focus-border:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 2px;
	background-color: var(--dark-green-color);
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.input-effect~.focus-border:after {
	top: auto;
	bottom: 0;
	left: auto;
	right: 0;
}

.input-effect~.focus-border i:before, .input-effect~.focus-border i:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 0;
	background-color: var(--dark-green-color);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.input-effect~.focus-border i:after {
	left: auto;
	right: 0;
	top: auto;
	bottom: 0;
}

.input-effect:focus~.focus-border:before, .input-effect:focus~.focus-border:after {
	width: 100%;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.input-effect:focus~.focus-border i:before, .input-effect:focus~.focus-border i:after {
	height: 100%;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.contact-grid-container-1 {
	margin-bottom: 2em;
}

.contact-grid-container-2 {
	margin-bottom: 2em;
}

textarea {
	min-height: 250px;
	margin-bottom: 0;
	font-size: 1.8rem;
}

.send-btn {
	background: var(--dark-green-color);
	display: inline;
}

button[type="submit"] {
	position: relative;
	height: 40px;
	padding: .5em;
	width: 120px;
	font-size: 1.8rem;
	color: var(--white-color);
	text-align: center;
	margin: 0 auto;
	font-weight: 400;
	text-transform: none;
	text-decoration: none;
	white-space: nowrap;
	background: var(--dark-green-color);
	border-radius: 4px;
	border: 0;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif !important;
}

button[type="submit"]:hover {
	background: var(--green-color);
	text-decoration: none;
	-webkit-transition: background-color 250ms ease-out;
	transition: background-color 250ms ease-out;
}

.icon-paper-plane {
	color: var(--white-color);
	font-size: 1.2rem;
	position: absolute;
	top: 1.35rem;
	left: 1.25rem;
}

.send-btn-text {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-top: -.1em;
}

.status-name, .status-email, .status-message {
	font-size: 1.8rem;
	color: var(--green-color);
}

/* Footer 
********************************************************************* */

footer {
	height: 80px;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	background: var(--green-color);
}

.footer-container {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: center;
}

.social-media-icons ul {
	display: -webkit-box;
	display: flex;
	margin-bottom: 0;
}

.social-media-icons li {
	margin-left: 1.5em;
	list-style: none;
	margin-bottom: 0;
}

.social-media-icons a {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.social-media-icons span {
	color: var(--white-color);
	font-size: 1.5rem;
	border: 1px solid var(--white-color);
	border-radius: 100%;
	padding: .5em;
}

.icon-linkedin:hover {
	color: var(--white-color);
	background-color: #2867b2;
	-webkit-transition: all 250ms ease-out;
	transition: all 250ms ease-out;
}

span.icon-github.footer:hover {
	color: var(--white-color);
	background-color: #333333;
	-webkit-transition: all 250ms ease-out;
	transition: all 250ms ease-out;
}

.icon-twitter:hover {
	color: var(--white-color);
	background-color: #1da1f2;
	-webkit-transition: all 250ms ease-out;
	transition: all 250ms ease-out;
}

.icon-instagram:hover {
	background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
	-webkit-transition: all 250ms ease-out;
	transition: all 250ms ease-out;
}

/* Media Print
********************************************************************* */

@media print {}