:root {
    --black-color: #222222;
    --white-color: #FCFCFC;
    --green-color: #256265;
    --dark-green-color: #357f82;
    --menu-green-color: #1f5053;
    --grey-color: #E1E1E1;
    --light-grey-color: #F5F5F5;
    --dark-grey-color: #888888;
    --scroll-grey-color: #cccccc;
    --scroll-dark-grey-color: #aaaaaa;
    --top-menu-color: rgba(31, 80, 83, .6);
    --top-menu-color-alt: rgba(37, 98, 101, .6);
}

/* Global Styles
**************************/

h3 {
    margin-bottom: 6px;
}

p:last-child {
    margin-bottom: 0;
}

.work-ul {
    padding-left: 4em;
    border: none !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    background-color: none !important;
    margin: 0 !important;
    position: relative;
    padding: 0 0 0 4rem !important;
    list-style: circle !important;
    text-align: left;
}

/* Navigation
**********************************************************************/

/*Main Navigation*/

.sticky {
    height: 35% !important;
}

.nav-list-container.work {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 9;
    flex: 9;
}

/*Breadcrumb*/

.breadcrumb-list {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 0;
    margin: 12px 0;
    list-style: none;
}

.breadcrumb-item a {
    color: #888;
}

.breadcrumb-item a:hover {
    color: #256265;
    text-decoration: line-through;
    transition: all 250ms ease-out;
}

.breadcrumb-item i:hover {
    color: #256265;
    text-decoration: line-through;
    transition: all 250ms ease-out;
}

.breadcrumb-item.active {
    color: #256265;
}

.breadcrumb-item:first-child::before {
    content: none;
    display: inline-block;
    padding: 0 0.6px;
    color: #888;
}

.breadcrumb-item::before {
    content: '/';
    display: inline-block;
    padding: 0 16px;
    color: #888;
}

/* Project Overview Section
**********************************************************************/

#project-overview {
    background-color: #FCFCFC;
}

.section-heading h3 {
    margin-bottom: 54px;
}

.project-page-img {
    border-radius: 8px;
    margin-bottom: 24px;
}

.link-to-page {
    text-decoration: underline;
}

/* Design Goals Section
**********************************************************************/

#design-goals {
    background-color: #F5F5F5;
}

.fonts-used-paragraph {
    margin-top: 24px;
}

.design-goals-first-paragraph {
    margin-bottom: 12px;
}

/*Color Swatches*/

.color-swatch-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
}

.color-swatch-grid-item {
    border-width: 1px;
    border-style: solid;
    border-color: #E1E1E1;
    border-radius: 8px;
}

.color-swatch {
    padding: 46px;
    border-bottom: 1px solid #E1E1E1;
    border-radius: 8px 8px 0 0;
}

/*SCANA Color Palette*/

.color-88ADA1 {
    background-color: #88ADA1;
}

.color-222222 {
    background-color: #222222;
}

.color-FFFFFF {
    background-color: #ffffff;
}

.color-EEEEEE {
    background-color: #eeeeee;
}

/*Techflake Color Palette*/

.color-1FBD67 {
    background-color: #1fbd67
}

/*Listd Color Palette*/

.color-FD746C {
    background-color: #FD746C;
}

.color-FE8E66 {
    background-color: #FE8E66;
}

.color-333333 {
    background-color: #333333;
}

.color-fcfcfc {
    background-color: #FCFCFC;
}

.color-F3F3F3 {
    background-color: #F3F3F3;
}

/*ICA Stores Locator*/

.color-ED4334 {
    background-color: #ED4334;
}

.color-999EA3 {
    background-color: #999EA3;
}

/*Geosty*/

.color-356C80 {
    background-color: #356C80;
}

.color-39BBE7 {
    background-color: #39BBE7;
}

.color-636867 {
    background-color: #636867;
}

.color-636867 {
    background-color: #636867;
}

/*BEVERA*/

.color-BAAC78 {
    background-color: #BAAC78;
}

.color-F2F2F2 {
    background-color: #F2F2F2;
}

.design-goals-h3 {
    margin: 36px 0 12px 0;
}
.design-goals-h3 i {
    color: var(--green-color);
    margin-right: 6px;
}

.color-details {
    padding: 16px;
}

.color-details h4 {
    margin-bottom: 16px;
}

.color-details ul {
    list-style: none !important;
    margin-bottom: 0;
}

.color-details li {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
}

.color-details li:last-child {
    margin-bottom: 0;
}

/* Built With Section
**********************************************************************/

#built-with {
    background-color: #FCFCFC;
}

.project-paragraph-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.work-ul-grid {
    align-self: self-start;
}

.project-paragraph-img {
    width: 55%;
    justify-self: center;
    align-self: center;
    visibility: hidden;
    opacity: 0;
    transition: all .75s ease-in-out;
}

.project-paragraph-img.in-view {
    transform: none;
    visibility: visible;
    opacity: 1;
}

.apis-heading {
    margin-top: 36px;
}

/* Mockups Section
**********************************************************************/

#mockups {
    background-color: #f5f5f5;
}

/*Mockups gallery images*/

.gallery {
    display: grid;
    width: 100%;
    margin: auto;
    grid-gap: 48px;
    grid-template-columns: repeat(2, 1fr);
    padding: 12px 0;
}

.gallery img {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: block;
}

.mockup-container {
    position: relative;
    max-width: 100%;
}

.gallery a {
    border-width: 1px;
    border-style: solid;
    border-color: #E1E1E1;
    border-radius: 8px;
    overflow: hidden;
}

.gallery a:hover {
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.mockup-caption-text {
    text-align: center;
    padding: 12px 0;
    margin: 0;
    color: #222222;
    font-weight: 700;
    font-size: 1.6rem;
}

.mockup-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    background-color: rgba(34, 34, 34, .75);
}

.mockup-container:hover .mockup-overlay {
    opacity: 1;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    cursor: pointer;
}

.fa-expand:hover {
    color: #fcfcfc;
}

.back-to-home-container {
    text-align: center;
    margin-top: 36px;
}

.back-to-home {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 8px 0 0 48px;
}

.back-to-home h4 {
    color: #222222;
    font-size: 1rem;
    transform: translateY(8px);
    transition: transform 500ms 0s cubic-bezier(0.2, 0, 0, 1);
}

.back-to-home span {
    opacity: 0;
    color: #888888;
    font-size: 0.75rem;
    font-weight: 400;
    display: inline-block;
    transform: translateY(10px);
    transition: transform 500ms 0s cubic-bezier(0.2, 0, 0, 1), opacity 500ms 0s cubic-bezier(0.2, 0, 0, 1)
}

.back-to-home div {
    top: 12px;
    left: 0;
    content: '';
    width: 35px;
    height: 35px;
    display: block;
    overflow: hidden;
    position: absolute;
    border-radius: 50%;
    transform: scale(1);
    background-color: #f5f5f5;
    border: 1px solid #E1E1E1;
    transition: transform 400ms 0s cubic-bezier(0.2, 0, 0, 1.6);
}

.back-to-home div::after {
    top: 0;
    left: 0;
    content: '';
    width: 60px;
    height: 30px;
    position: absolute;
    background-position: 0 0;
    background-image: url('../images/icons/back-to-home-icons.svg');
    transition: transform 400ms 0s cubic-bezier(0.2, 0, 0, 1);
}

.back-to-home:hover h4 {
    color: #256265;
}

.back-to-home:hover h4, .back-to-home:hover span {
    opacity: 1;
    transform: translateY(-1.5px);
}

.back-to-home:hover div {
    transform: scale(1.1);
    background-color: #f5f5f5;
}

.back-to-home:hover div::after {
    transform: translateX(-30px);
}

@media (max-width: 1280px) {
    .nav-container.work ul li {
        padding-bottom: 16px;
        padding-top: 16px;
        font-size: 1.125rem !important;
        margin: 0 !important;
    }
}

@media screen and (min-width: 767px) and (max-width: 1024px) and (orientation: portrait) {
    /* Design Goals Section
**********************************************************************/
    .color-swatch-grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .color-details li {
        font-size: 0.875rem !important;
    }
    .back-to-home h4 {
        display: none;
    }
    .back-to-home span {
        opacity: 1;
        font-size: 1rem;
        color: #222222;
        transform: translateY(6px);
    }
    .back-to-home:hover span {
        transform: translateY(6px);
    }
    .back-to-home {
        padding: 12px 12px 16px 48px;
    }
    .gallery {
        grid-gap: 24px;
    }
}

@media screen and (min-width: 767px) and (max-width: 1024px) and (orientation: landscape) {
    /* Design Goals Section
**********************************************************************/
    .color-swatch-grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .color-details li {
        font-size: 0.875rem !important;
    }
    .back-to-home h4 {
        display: none;
    }
    .back-to-home span {
        opacity: 1;
        font-size: 1rem;
        color: #222222;
        transform: translateY(6px);
    }
    .back-to-home:hover span {
        transform: translateY(6px);
    }
    .back-to-home {
        padding: 12px 12px 16px 48px;
    }
    .gallery {
        grid-gap: 24px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .sticky {
        height: 50% !important;
    }
    .nav-container ul li {
        font-size: 0.625rem;
    }
    /* Built With Section
**********************************************************************/
    .project-paragraph-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 24px;
    }
    .project-paragraph-img {
        display: none;
    }
    /* Mockups Section
**********************************************************************/
    .gallery {
        grid-template-columns: repeat(1, 1fr);
    }
    li {
        font-size: 0.875rem !important;
    }
    h3 {
        font-size: 1.25rem !important;
    }
    /* Design Goals Section
**********************************************************************/
    .color-swatch-grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .color-details li {
        font-size: 0.75rem !important;
    }
    .color-details h4 {
        font-size: 1rem !important;
    }
    .back-to-home h4 {
        display: none;
    }
    .back-to-home span {
        opacity: 1;
        font-size: 0.875rem;
        color: #222222;
        transform: translateY(6px);
    }
    .back-to-home:hover span {
        transform: translateY(7px);
    }
    .back-to-home {
        padding: 12px 12px 16px 48px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    /* Built With Section
**********************************************************************/
    .project-paragraph-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 48px;
    }
    .project-paragraph-img {
        display: none;
    }
    /* Mockups Section
**********************************************************************/
    .gallery {
        grid-template-columns: repeat(1, 1fr);
    }
    li {
        font-size: 0.875rem !important;
    }
    h3 {
        font-size: 1.25rem !important;
    }
    /* Design Goals Section
**********************************************************************/
    .color-swatch-grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .color-details li {
        font-size: 0.75rem !important;
    }
    .color-details h4 {
        font-size: 1rem !important;
    }
    .back-to-home h4 {
        display: none;
    }
    .back-to-home span {
        opacity: 1;
        font-size: 0.875rem;
        color: #222222;
        transform: translateY(6px);
    }
    .back-to-home:hover span {
        transform: translateY(7px);
    }
    .back-to-home {
        padding: 12px 12px 16px 48px;
    }
}
