:root {
    --black-color: #222222;
    --white-color: #FCFCFC;
    --green-color: #256265;
    --dark-green-color: #357f82;
    --menu-green-color: #1f5053;
    --grey-color: #E1E1E1;
    --light-grey-color: #F5F5F5;
    --dark-grey-color: #888888;
    --scroll-grey-color: #cccccc;
    --scroll-dark-grey-color: #aaaaaa;
    --top-menu-color: rgba(31, 80, 83, .6);
    --top-menu-color-alt: rgba(37, 98, 101, .6);
}

/* Global Styles
**************************/

h3 {
    margin-bottom: .5em;
}

.work-ul {
    padding-left: 4em;
    border: none !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    background-color: none !important;
    margin: 0 !important;
    position: relative;
    padding: 0 0 0 4rem !important;
    list-style: circle !important;
    text-align: left;
}

/* Navigation
**********************************************************************/

/*Main Navigation*/

.sticky {
    height: 42% !important;
}

.nav-list-container.work {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 9;
    flex: 9;
}

/*Breadcrumb*/

.breadcrumb-list {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 0;
    margin: 1rem 0 1rem 0;
    list-style: none;
}

.breadcrumb-item a {
    color: #888;
}

.breadcrumb-item a:hover {
    color: #256265;
    text-decoration: line-through;
    transition: all 250ms ease-out;
}

.breadcrumb-item i:hover {
    color: #256265;
    text-decoration: line-through;
    transition: all 250ms ease-out;
}

.breadcrumb-item.active {
    color: #256265;
}

.breadcrumb-item:first-child::before {
    content: none;
    display: inline-block;
    padding: 0 0.5rem;
    color: #888;
}

.breadcrumb-item::before {
    content: '/';
    display: inline-block;
    padding: 0 1.5rem;
    color: #888;
}

/* Project Overview Section
**********************************************************************/

#project-overview {
    background-color: #FCFCFC;
}

.section-heading h3 {
    margin-bottom: 5rem;
}

.project-page-img {
    border-radius: 4px;
    margin-bottom: 2em;
}

.link-to-page {
    text-decoration: underline;
}

/* Design Goals Section
**********************************************************************/

#design-goals {
    background-color: #F5F5F5;
}

.fonts-used-paragraph {
    margin-top: 2.5rem;
}

/* Built With Section
**********************************************************************/

#built-with {
    background-color: #FCFCFC;
}

.project-paragraph-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.work-ul-grid {
    align-self: self-start;
}

.project-paragraph-img {
    width: 55%;
    justify-self: center;
    align-self: center;
	visibility: hidden;
	opacity: 0;
    transition: all .75s ease-in-out;
}

.project-paragraph-img.in-view {
	transform: none;
	visibility: visible;
	opacity: 1;
}

.apis-heading {
    margin-top: 1em;
}

/* Mockups Section
**********************************************************************/

#mockups {
    background-color: #f5f5f5;
}

/*Mockups gallery images*/

.gallery {
    display: grid;
    width: 100%;
    margin: auto;
    grid-gap: 5em;
    grid-template-columns: repeat(2, 1fr);
    padding: 1em 0;
}

.gallery img {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: block;
}

.mockup-container {
    position: relative;
    max-width: 100%;
}

.gallery a {
    border-radius: 4px;
    border: 2px solid #E1E1E1;
}

.gallery a:hover {
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.mockup-caption-text {
    text-align: center;
    padding: 1em 0;
    margin: 0;
    color: #222222;
    font-weight: 700;
}

.mockup-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    opacity: 0;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    background-color: rgba(34, 34, 34, .75);
}

.mockup-container:hover .mockup-overlay {
    opacity: 1;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    cursor: pointer;
}

.fa-expand:hover {
    color: #fcfcfc;
}

@media (max-width: 1280px) {
    .nav-container.work ul li {
        padding-bottom: 1.5em;
        font-size: 1.8rem !important;
        margin: 0 !important;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .sticky {
        height: 50% !important;
    }
    .nav-container ul li {
        padding: 1.75em 1em;
        font-size: 1rem;
    }
    /* Built With Section
**********************************************************************/
    .project-paragraph-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 2.5em;
    }
    .project-paragraph-img {
        display: none;
    }
    /* Mockups Section
**********************************************************************/
    .gallery {
        grid-template-columns: repeat(1, 1fr 1fr);
    }
    li {
        font-size: 1.5rem !important;
    }
    h3 {
        font-size: 2rem !important;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    /* Built With Section
**********************************************************************/
    .project-paragraph-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 5em;
    }
    .project-paragraph-img {
        display: none;
    }
    /* Mockups Section
**********************************************************************/
    .gallery {
        grid-template-columns: repeat(1, 1fr);
    }
    li {
        font-size: 1.5rem !important;
    }
    h3 {
        font-size: 2rem !important;
    }
}